<p class="partition" style="margin: 20px auto;"></p>

    <footer id="footer-div" class="text-center align-items-center">
      <br>
      <a routerLink="errorpage">
        <button type="button" name="twitter" class="btn">
          <i class="fab fa-twitter fa-3x" style="color: #55acee;"></i>
        </button>
      </a>
      <a routerLink="errorpage">
        <button type="button" name="facebook" class="btn">
          <i class="fab fa-facebook-f fa-3x footer-icons" style="color: #3b5998;"></i>
        </button>
      </a>
      <a routerLink="errorpage">
        <button type="button" name="instagram" class="btn">
          <i class="fab fa-instagram fa-3x" style="color: #ac2bac;"></i>
        </button>
      </a>
      <a routerLink="errorpage">
        <button type="button" name="email" class="btn">
          <i class="fas fa-envelope fa-3x" style="color: #dd4b39;"></i>
        </button>
      </a>
      <br>
      <br>
      <img src="./assets/images/footer-logo.gif" alt="footer-logo" height="200px">
      <br>
      <br>
      <h5 style="color:white;">Slices&Bites | Veggie Imperium, Brocolli - East | Telephone - 3141590000</h5>
      <br>
      <p style="color: #737373;">Copyrights © 2020 DAPS. All rights reserved</p>
      <br>
      <a routerLink="errorpage">
        <button type="button" class="btn btn-light" style="background-color: #bf1818;
        border-color: #941919;
        color: white;"><i class="fa fa-map-marker" aria-hidden="true"></i> Find Us On Map</button>
      </a>
      &nbsp;
      <a routerLink="errorpage">
        <button type="button" class="btn btn-light" style="background-color: #bf1818;
        border-color: #941919;
        color: white;"><i class="fa fa-user" aria-hidden="true"></i> Contact Us</button>
      </a>
    </footer>