<!-- NAVBAR ONE -->
<div id="navbar-all">
    <div id="navbar-one">
      <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 0 10rem 10rem 10rem; height: 150px;">
        <a class="navbar-brand" href="#"><img src="./assets/images/header-logo.gif" style="height: 145px;" alt="Slices&Bites"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-middle ml-auto">
            <li class="nav-item active nav1">
              <a class="nav-link" id="nav-items" routerLink="userpanel">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <a style="margin-right: 20px; margin-left: 15px;" id="nav-items" routerLink="footer"><button type="button" class="d-none d-sm-inline-block btn btn-outline-light btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn"><i class="fa fa-shopping-cart"></i>
              Cart</button></a>
              <div class="dropdown">
                <button type="button" id="nav-items" class="d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sign-in"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="myprofile">My Profile</a>
                      <a class="dropdown-item" routerLink="" onclick="return confirm('Are you sure want to logout?');" (click)="showToasterSuccess()"> Logout </a>
                    </div>
                  </div>
        </div>
      </nav>
    </div>

    <br><br><br>

    <!-- NAVBAR TWO -->
    <div class="navbar-two">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item nav-categories">
              <a class="nav-link" routerLink="userpanel"><img src="./assets/images/nav-pizza.png" alt="" style="width: 50px; height: 50px;">PIZZA</a>
            </li>
            <li class="nav-item nav-categories">
              <a class="nav-link" routerLink="userpanel"><img src="./assets/images/nav-pasta.png" alt="" style="width: 50px; height: 50px;">PASTA</a>
            </li>
            <li class="nav-item nav-categories">
              <a class="nav-link" routerLink="userpanel"><img src="./assets/images/nav-sides.png" alt="" style="width: 50px; height: 50px;">SIDES</a>
            </li>
            <li class="nav-item nav-categories">
              <a class="nav-link" routerLink="userpanel"><img src="./assets/images/nav-drinks.png" alt="" style="width: 50px; height: 50px;">DRINKS</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!-- MENU -->

  <section id="menu">

    <!--PIZZA MENU-->

    <section id="pizza-menu" class="menu-box">

      <div id="pizza-menu-div" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div style="float:left">
          <img src="./assets/images/nav-pizza.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
        </div>
        <div style="float:left">
          <h3>Pizza</h3>
        </div>
        <!--Controls-->
        <div class="controls-top" style="float:right">
          <a class="btn-floating lr-icons" href="#pizza-menu-div" data-slide="prev"><i class="fa fa-arrow-circle-left"></i></a>
          <a class="btn-floating lr-icons" href="#pizza-menu-div" data-slide="next"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!--/.Controls-->
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#pizza-menu-div" data-slide-to="0" class="active"></li>
          <li data-target="#pizza-menu-div" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_margherita_2502.jpg" alt="pizza-margherita-img">
                <div class="card-body">
                  <h4 class="card-title">Margherita</h4>
                  <p class="card-text">A classic delight with 100% Real mozzarella cheese.</p>
                  <p class="pricing">₹ 99</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/farmhouse.png" alt="pizza-farmhouse-img">
                <div class="card-body">
                  <h4 class="card-title">Farmhouse</h4>
                  <p class="card-text">Delightful combination of onion, capsicum, tomato & grilled mushroom</p>
                  <p class="pricing">₹ 129</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_veggie_paradise.jpg" alt="pizza-veg-paradise-img">
                <div class="card-body">
                  <h4 class="card-title">Veggie Paradise</h4>
                  <p class="card-text">The awesome foursome! Golden corn, black olives, capsicum, red paprika.</p>
                  <p class="pricing">₹ 159</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_peppy_paneer.jpg" alt="pizza-peppy-paneer-img">
                <div class="card-body">
                  <h4 class="card-title">Peppy Paneer</h4>
                  <p class="card-text">Flavorful trio of juicy paneer, crisp capsicum with spicy red paprika</p>
                  <p class="pricing">₹ 159</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_veg_extravaganza.jpg" alt="pizza-veg-extravaganza">
                <div class="card-body">
                  <h4 class="card-title">Veggie Extravaganza</h4>
                  <p class="card-text">Black olives, capsicum, onion, grilled mushroom, corn, tomato, jalapeno & extra
                    cheese.</p>
                  <p class="pricing">₹ 179</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_chicken_dominator.jpg">
                <div class="card-body">
                  <h4 class="card-title">Chicken Denominator</h4>
                  <p class="card-text">Loaded with double pepper barbecue chicken, peri-peri chicken, chicken tikka &
                    grilled chicken rashers.</p>
                  <p class="pricing">₹ 199</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_non_veg_supreme.jpg">
                <div class="card-body">
                  <h4 class="card-title">Non Veg Supreme</h4>
                  <p class="card-text">Supreme combination of black olives, onion, capsicum, grilled mushroom, pepper
                    barbecue chicken, peri-peri chicken & grilled chicken rashers.</p>
                  <p class="pricing">₹ 229</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/new_chicken_fiesta.jpg" alt="pizza-chicken-fiesta-img">
                <div class="card-body">
                  <h4 class="card-title">Chicken Fiesta</h4>
                  <p class="card-text">Grilled chicken rashers, peri-peri chicken, onion & capsicum, a complete fiesta
                  </p>
                  <p class="pricing">₹ 249</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
      </div>
      <!--/.Carousel Wrapper-->

    </section>

    <p class="partition" style="margin: 20px auto;"></p>


    <!--PASTA MENU-->

    <section id="pasta-menu" class="menu-box">

      <div id="pasta-menu-div" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div style="float:left">
          <img src="./assets/images/nav-pasta.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
        </div>
        <div style="float:left">
          <h3>Pasta</h3>
        </div>
        <!--Controls-->
        <div class="controls-top" style="float:right">
          <a class="btn-floating lr-icons" href="#pasta-menu-div" data-slide="prev"><i class="fa fa-arrow-circle-left"></i></a>
          <a class="btn-floating lr-icons" href="#pasta-menu-div" data-slide="next"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!--/.Controls-->
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#pasta-menu-div" data-slide-to="0" class="active"></li>
          <li data-target="#pasta-menu-div" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/CreamyTomatoVeg_N.jpg">
                <div class="card-body">
                  <h4 class="card-title">Creamy Tomato Pasta</h4>
                  <p class="card-text">Instant Fusilli Pasta, Creamy Culinary Dressing, Onion, Olive, Green Capsicum,
                    Parsley sprinkle.</p>
                  <p class="pricing">₹ 129</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/JalapenoVeg_N.jpg" alt="pasta-cheesy-jalapeno">
                <div class="card-body">
                  <h4 class="card-title">Cheesy Jalapeno Pasta Veg</h4>
                  <p class="card-text">Instant Fusilli Pasta, Cheesy Jalapeno Sauce, Onion, Jalapeno, Parsley sprinkle
                  </p>
                  <p class="pricing">₹ 129</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/PaneerTikkaMasala_N.jpg" alt="pasta-tikka-masala">
                <div class="card-body">
                  <h4 class="card-title">Tikka Masala Pasta Veg</h4>
                  <p class="card-text">Instant Fusilli Pasta, Spicy Red dressing, Onion, Paneer Tikka, Parsley
                    sprinkle.
                  <p>
                  <p class="pricing">₹ 129</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/CreamyTomatoNV_N.jpg" alt="pasta-creamy-tomato">
                <div class="card-body">
                  <h4 class="card-title">Creamy Tomato Pasta Non Veg</h4>
                  <p class="card-text">Instant Fusilli Pasta, Creamy Culinary Dressing, Onion, Olives, BBQ Pepper
                    Chicken, Parsley sprinkle.</p>
                  <p class="pricing">₹ 139</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/jalapenoPastaNV_N.jpg" alt="pasta-nv-jalapeno">
                <div class="card-body">
                  <h4 class="card-title">Cheesy Jalapeno Pasta Non Veg</h4>
                  <p class="card-text">Instant Fusilli Pasta, Cheesy Jalapeno Sauce, Onion, Jalapeno, BBQ Pepper
                    Chicken, Parsley sprinkle.</p>
                  <p class="pricing">₹ 159</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/ChickenTikkaMasala_N.jpg">
                <div class="card-body">
                  <h4 class="card-title">Tikka Masala Pasta Non Veg</h4>
                  <p class="card-text">Loaded with double pepper barbecue chicken, peri-peri chicken, chicken tikka &
                    grilled chicken rashers.</p>
                  <p class="pricing">₹ 199</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/PASTATREATSPECIALS.jpg">
                <div class="card-body">
                  <h4 class="card-title">Pasta Treat Specials</h4>
                  <p class="card-text">Veg Creamy Tomato Pasta + Veg Tikka Masala Pasta + Garlic Bread + Pepsi.</p>
                  <p class="pricing">₹ 359</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/PASTAPIZZAPARTYSPECIALS.jpg" alt="pizza-pasta-party-img">
                <div class="card-body">
                  <h4 class="card-title">Pasta Pizza Party Specials</h4>
                  <p class="card-text">Med Creamy Tomato Pasta Pizza + Tikka Masala Pasta + Pepsi</p>
                  <p class="pricing">₹ 299</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
      </div>
      <!--/.Carousel Wrapper-->

    </section>

    <p class="partition" style="margin: 20px auto;"></p>

    <!--SIDES MENU-->

    <section id="sides-menu" class="menu-box">

      <div id="sides-menu-div" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div style="float:left">
          <img src="./assets/images/nav-sides.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
        </div>
        <div style="float:left">
          <h3>Sides</h3>
        </div>
        <!--Controls-->
        <div class="controls-top" style="float:right">
          <a class="btn-floating lr-icons" href="#sides-menu-div" data-slide="prev"><i class="fa fa-arrow-circle-left"></i></a>
          <a class="btn-floating lr-icons" href="#sides-menu-div" data-slide="next"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!--/.Controls-->
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#sides-menu-div" data-slide-to="0" class="active"></li>
          <li data-target="#sides-menu-div" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="./assets/images/sides-french-fries.jpg" height=114.94px width=296.3px>
                <div class="card-body">
                  <h4 class="card-title">French Fries (Reg)</h4>
                  <p class="card-text">Indulge in a taste of choiciest potatoes and perfect crisp.</p>
                  <p class="pricing">₹ 59</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/potato_cheese_shots.png" alt="sides-cheese-shots-img">
                <div class="card-body">
                  <h4 class="card-title">Potato Cheese Shots</h4>
                  <p class="card-text">Crisp and golden outside, flavorful burst of cheese, potato & spice inside</p>
                  <p class="pricing">₹ 69</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/Crinkle_Fries.png" alt="sides-crinkle-fries">
                <div class="card-body">
                  <h4 class="card-title">Crinkle Fries</h4>
                  <p class="card-text">Crispy wavy masala coated fries served with a spicy tomato chilli sauce.
                  <p>
                  <p class="pricing">₹ 69</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/taco.png" alt="sides-taco-mexicana">
                <div class="card-body">
                  <h4 class="card-title">Taco Mexicana-Veg</h4>
                  <p class="card-text">Truly irresistible! Crispy taco with a delicious veg patty & creamy sauce.</p>
                  <p class="pricing">₹ 79</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/Parcel_Veg.jpg" alt="sides-veg-parcel">
                <div class="card-body">
                  <h4 class="card-title">Veg Parcel</h4>
                  <p class="card-text">Snacky bites! Pizza rolls with paneer & creamy harissa sauce.</p>
                  <p class="pricing">₹ 49</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/Parcel_Nonveg.jpg">
                <div class="card-body">
                  <h4 class="card-title">Chicken Parcel</h4>
                  <p class="card-text">Snacky bites! Pizza rolls with chicken sausage & creamy harissa sauce.</p>
                  <p class="pricing">₹ 69</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/Butterscotch.png">
                <div class="card-body">
                  <h4 class="card-title">Butterscotch Mousse Cake</h4>
                  <p class="card-text">Sweet temptation! Butterscotch flavored mousse.</p>
                  <p class="pricing">₹ 99</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top" src="https://images.dominos.co.in/Brownie_Fantasy.png" alt="sides-brownie-fantasy">
                <div class="card-body">
                  <h4 class="card-title">Brownie Fantasy</h4>
                  <p class="card-text">Sweet Temptation! Hot Chocolate Brownie drizzled with chocolate fudge sauce</p>
                  <p class="pricing">₹ 99</p>
                  <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                    Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
      </div>
      <!--/.Carousel Wrapper-->

    </section>

    <p class="partition" style="margin: 20px auto;"></p>

    <section id="drinks-menu" class="menu-box">
      <div id="drinks-menu-div">
        <div style="float:left">
          <img src="./assets/images/nav-drinks.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
        </div>
        <div style="float:left">
          <h3>Drinks</h3>
        </div>
        <br><br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://i.ndtvimg.com/i/2016-05/iced-tea-625_625x350_41462162243.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Iced Tea</h4>
              <p class="card-text">Just chill! Cold tea with addition of sweetness on requirement</p>
              <p class="pricing">₹ 59</p>
              <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://img.delicious.com.au/4dL8KYKn/w1200/del/2018/01/rainbow-smoothies-70741-2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Rainbow Smoothie</h4>
              <p class="card-text">A 7 layered smoothie! Not only fun to look at, but also delicious to drink</p>
              <p class="pricing">₹ 119</p>
              <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://hip2save.com/wp-content/uploads/2014/07/blueberry-kiwi-mojito-recipe.jpg?fit=1200%2C630&strip=all" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Blueberry Kiwi Mojito</h4>
              <p class="card-text">Summer special! Fizzy and bubbly cocktail</p>
              <p class="pricing">₹ 89</p>
              <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/hsxfx8igq/image/upload/t_16x9_recipe_image,f_auto/v1601500271/vkkaghljdtrftxdlzhxa.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Milkshake Tour</h4>
              <p class="card-text">Combo of melted vanilla, chocolate, strawberry and mint</p>
              <p class="pricing">₹ 199</p>
              <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
                Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="our-latest">
      
      <h3 class="home-headers">
        - OUR LATEST <img src="./assets/images/plain-logo.png" alt="Slices&Bites" height="150px"> -
      </h3>
    </section>
    
    <!--LATEST MENU-->
<section>
    <div class="card-deck" style="margin: 0 5%;">
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/Stuffed_garlic_Bread.png" alt="latest-garlic-bread-img">
        <div class="card-body text-center">
          <h4 class="card-title">Classic Stuffed Garlic Bread</h4>
          <p class="card-text">Freshly baked garlic bread with cheese, juicy corn & tangy jalapeno.</p>
          <p class="pricing">₹ 149</p>
          <a routerLink="login"> <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/Burger_PizzaNonVeg_nvg.png" alt="burger-pizza-img">
        <div class="card-body text-center">
          <h4 class="card-title">Burger Pizza - Non Veg</h4>
          <p class="card-text">Oven-baked buns with cheese, peri-peri chicken, tomato & capsicum in creamy mayo.</p>
          <p class="pricing">₹ 149</p>
          <a routerLink="login"><button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/IndianTandooriChickenTikka.jpg" alt="indi-chicken-tikka-img">
        <div class="card-body text-center">
          <h4 class="card-title">Indi Chicken Tikka</h4>
          <p class="card-text">The wholesome flavour of tandoori masala with Chicken tikka, onion, red paprika & mint
            mayo.</p>
          <p class="pricing">₹ 399</p>
          <a routerLink="login"><button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/CreamyTomatoPPNV_N.jpg" alt="pasta-pizza-img">
        <div class="card-body text-center">
          <h4 class="card-title">Creamy Tomato Pasta Pizza - Non Veg</h4>
          <p class="card-text">Loaded with a delicious creamy tomato pasta topping, BBQ pepper chicken, green capsicum,
            crunchy red and yellow bell peppers.</p>
          <p class="pricing">₹ 359</p>
          <a routerLink="login"><button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
    </div>

    <app-footer></app-footer>