  <!-- NAVBAR ONE -->
  <div id="navbar-all">
    <div id="navbar-one">
      <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 0 10rem 10rem 10rem; height: 150px;">
        <a class="navbar-brand" href="#"><img src="./assets/images/header-logo.gif" style="height: 145px;" alt="Slices&Bites"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-middle ml-auto">
            <li class="nav-item active nav1">
              <a class="nav-link" id="nav-items" routerLink="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav1">
              <a class="nav-link" id="nav-items"  routerLink="login">Customize Your Menu</a>
            </li>
          </ul>
          <a style="margin-right: 20px; margin-left: 15px;" id="nav-items" routerLink="register"><button type="button" class="d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn"><i class="fa fa-sign-in"></i> Sign-Up</button></a>
          <a style="margin-right: 20px; margin-left: 15px;" id="nav-items" routerLink="login"><button type="button" class="d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn"><i class="fa fa-sign-in"></i> Log-In</button></a>
        </div>
      </nav>
    </div>

    <br><br><br>

    <!-- NAVBAR TWO -->
    <div class="navbar-two">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item nav-categories">
              <a class="nav-link" href="#pizza-menu"><img src="./assets/images/nav-pizza.png" alt="" style="width: 50px; height: 50px;">PIZZA</a>
            </li>
            <li class="nav-item nav-categories">
              <a class="nav-link" href="#pasta-menu"><img src="./assets/images/nav-pasta.png" alt="" style="width: 50px; height: 50px;">PASTA</a>
            </li>
            <li class="nav-item nav-categories">
              <a class="nav-link" href="#sides-menu"><img src="./assets/images/nav-sides.png" alt="" style="width: 50px; height: 50px;">SIDES</a>
            </li>
            <li class="nav-item nav-categories">
              <a class="nav-link" href="#drinks-menu"><img src="./assets/images/nav-drinks.png" alt="" style="width: 50px; height: 50px;">DRINKS</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

    <!-- features -->
    <section id="features">
      <div class="row">
        <div class="col-lg-3 feature-box">
          <i class="fas fa-4x features-icons"><img src="./assets/images/best-quality.png" style="height: 150px; width: 150px;" alt=""></i>
          <h3 class="feature-title">BEST QUALITY</h3>
          <p class="feature-description">Fresh ingredients, assorted spices!</p>
        </div>
        <div class="col-lg-3 feature-box">
          <i class="fas fa-4x features-icons"><img src="./assets/images/on-time.png" style="height: 150px; width: 150px;" alt=""></i>
          <h3 class="feature-title">ON TIME</h3>
          <p class="feature-description">Nothing ordinary stops us from delivering your slices&bites!</p>
        </div>
        <div class="col-lg-3 feature-box">
          <i class="fas fa-4x features-icons"><img src="./assets/images/tasty-food.png" style="height: 150px; width: 150px;" alt=""></i>
          <h3 class="feature-title">TASTY FOOD</h3>
          <p class="feature-description">We solemnly swear we are up for good food for any mood!</p>
        </div>
        <div class="col-lg-3 feature-box">
          <i class="fas fa-4x features-icons"><img src="./assets/images/masterchefs.png" style="height: 150px; width: 150px;" alt=""></i>
          <h3 class="feature-title">MASTERCHEFS</h3>
          <p class="feature-description"> Buttery biscuit base for days and days! </p>
        </div>

      </div>
    </section>

    <p class="partition"></p>

    <h3 class="home-headers">- PICK YOUR TASTE -</h3>
    <h1 class="explore-our-menu" style="color: #bf1818;"><span>- </span>EXPLORE OUR MENU<span> -</span></h1>

        
      <p class="partition" ></p>



    <!-- section id="student-banner">
      <a href="./errorpage.component.html">
        <img src="./assets/images/stu-happy-hours-banner.jpg" alt="stu-heppy-hours" height="90%" width="90%" href="./errorpage.component.html">
      </a>
    </section -->

    <section id="our-latest">
      
      <h3 class="home-headers">
        - OUR LATEST <img src="./assets/images/plain-logo.png" alt="Slices&Bites" height="150px"> -
      </h3>
    </section>
    
    <!--LATEST MENU-->

    <div class="card-deck" style="margin: 0 5%;">
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/Stuffed_garlic_Bread.png" alt="latest-garlic-bread-img">
        <div class="card-body text-center">
          <h4 class="card-title">Classic Stuffed Garlic Bread</h4>
          <p class="card-text">Freshly baked garlic bread with cheese, juicy corn & tangy jalapeno.</p>
          <p class="pricing">₹ 149</p>
          <a routerLink="login"> <button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/Burger_PizzaNonVeg_nvg.png" alt="burger-pizza-img">
        <div class="card-body text-center">
          <h4 class="card-title">Burger Pizza - Non Veg</h4>
          <p class="card-text">Oven-baked buns with cheese, peri-peri chicken, tomato & capsicum in creamy mayo.</p>
          <p class="pricing">₹ 149</p>
          <a routerLink="login"><button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/IndianTandooriChickenTikka.jpg" alt="indi-chicken-tikka-img">
        <div class="card-body text-center">
          <h4 class="card-title">Indi Chicken Tikka</h4>
          <p class="card-text">The wholesome flavour of tandoori masala with Chicken tikka, onion, red paprika & mint
            mayo.</p>
          <p class="pricing">₹ 399</p>
          <a routerLink="login"><button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.dominos.co.in/CreamyTomatoPPNV_N.jpg" alt="pasta-pizza-img">
        <div class="card-body text-center">
          <h4 class="card-title">Creamy Tomato Pasta Pizza - Non Veg</h4>
          <p class="card-text">Loaded with a delicious creamy tomato pasta topping, BBQ pepper chicken, green capsicum,
            crunchy red and yellow bell peppers.</p>
          <p class="pricing">₹ 359</p>
          <a routerLink="login"><button type="button" class="add-to-cart d-none d-sm-inline-block btn btn-dark btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn" style="color: white; background-color: #bf1818;"><i class="fa fa-shopping-cart"></i>
            Add to Cart</button></a>
        </div>
      </div>
    </div>

    <app-footer></app-footer>


    
