<head>
  <title>404 - Not Yet Found</title>
</head>

<body style="background-color: #bf1818;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 0 10rem; height: 120px;">
    <a class="navbar-brand" href="#"><img src="./assets/images/header-logo.gif" style="height: 150px;" alt="Slices&Bites"></a>
    <div class="ml-auto">
      <a style="margin-right: 20px; margin-left: 15px;" routerLink=""><button type="button" class="d-none d-sm-inline-block btn btn-outline-light btn-lg ml-lg-60 mr-40 mr-lg-0 order-2 order-lg-3 cs-btn"><i class="fas fa-home"></i>
          Back to Safety</button></a>
    </div>
  </nav>
  <br><br><br>
   
  <div class="con">
    <img src="./assets/images/404bg.png">
  </div>
</body>

